mat-sidenav {
    padding-left: 10px;
}

mat-sidenav-content {
  padding-left: 10px;

  height: 100%;
  justify-content: center;
  margin-bottom: 0px;
}

.chat-button {
  margin: 10px 10px 10px 10px;
}

.friend {
    position: relative;
    font-size: 1.2em;
    height: 40px;
    line-height: 40px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.to-the-right {
    position: absolute;
    right: 0;
    align-self: center;
}
