<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side" [opened]="true" class="chats-menu"
               [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0">
    <div>
      <p class="friend">
        {{self.username}}
        <span class="to-the-right">
          <button type="button" mat-icon-button (click)="onCopyId()"><mat-icon>library_books</mat-icon></button>
          <button type="button" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>settings</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button type="button" mat-menu-item [matMenuTriggerFor]="update">
              <mat-icon>update</mat-icon>
              <span>Update data</span>
            </button>
            <button type="button" mat-menu-item (click)="onLogout()">
              <mat-icon>power_settings_new</mat-icon>
              <span>Logout</span>
            </button>
            <button type="button" mat-menu-item (click)="onDelete()">
              <mat-icon>delete</mat-icon>
              <span>Delete account</span>
            </button>
          </mat-menu>
        </span>
      </p>
      <mat-menu #update="matMenu">
        <form class="update-data-form" [formGroup]="updateData" (click)="$event.stopPropagation()" (ngSubmit)="onSaveChanges()">
          <mat-form-field>
            <mat-label>Change Username</mat-label>
            <input matInput placeholder="{{self.username}}" formControlName="username" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Change Password</mat-label>
            <input matInput [type]="passwordHide ? 'password' : 'text'" formControlName="password" />
            <button type="button" matSuffix mat-icon-button (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
              <mat-icon>{{passwordHide ? 'visibility-off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Change Email</mat-label>
            <input matInput placeholder="{{self.email}}" formControlName="email" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Select Theme</mat-label>
            <mat-select formControlName="theme">
              <mat-option value="">Keep Theme</mat-option>
              <mat-option value="{{Themes.light}}">Light</mat-option>
              <mat-option value="{{Themes.dark}}">Dark</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox formControlName="notifs">Show Notifications</mat-checkbox>
          <mat-checkbox formControlName="appearance">Appear Online</mat-checkbox>
          <button type="submit" [disabled]="!(updateData.valid)" mat-button>Save Changes</button>
        </form>
      </mat-menu>
    </div>
    <mat-divider></mat-divider>
    <h3>Friends</h3>
    <div>
      <form [formGroup]="addFriend" (ngSubmit)="onAddFriend()">
        <mat-form-field [style.width.%]="80">
          <mat-label>Add a new friend :)</mat-label>
          <input matInput placeholder="Id goes here" formControlName="id" />
        </mat-form-field>
        <button matSuffix type="submit" [disabled]="!(addFriend.valid)" mat-icon-button><mat-icon>add</mat-icon></button>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div *ngFor="let friend of friends">
      <p class="friend" type="button" routerLink="{{friend.id}}" mat-button>{{friend.username}}<button class="to-the-right" type="button" mat-icon-button (click)="onRemoveFriend(friend.id)"><mat-icon>close</mat-icon></button></p>
    </div>
    
  </mat-sidenav>

  <mat-sidenav-content class="chats-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
