<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="true" class="chats-menu"
               [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0">
    <h3>Friends</h3>
    <div>
      <form [formGroup]="addFriend" (ngSubmit)="onAddFriend()">
        <mat-form-field>
          <mat-label>Add a new friend :)</mat-label>
          <input matInput placeholder="Id goes here" formControlName="id" />
        </mat-form-field>
        <button matSuffix type="submit" mat-icon-button><mat-icon>add</mat-icon></button>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div *ngFor="let friend of friends">
      <p class="friend" type="button" mat-button>{{friend.username}}<button class="to-the-right" type="button" mat-icon-button><mat-icon>close</mat-icon></button></p>
    </div>
    <!-- <div *ngFor="let server of servers">
    <button class="chat-button" type="button" mat-fab (click)="onSetServer(server.id)">{{server.name}}</button>
  </div> -->
    
  </mat-sidenav>

  <mat-sidenav-content class="chats-content">

    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
