<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side" [opened]="true" class="chats-menu"
               [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0">
    <div>
      <p class="friend">
        {{self.username}}
        <span class="to-the-right">
          <button type="button" mat-icon-button (click)="onCopyId()"><mat-icon>library_books</mat-icon></button>
          <button type="button" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>settings</mat-icon></button>
          <mat-menu #menu="matMenu">
            <button type="button" mat-menu-item (click)="onLogout()">
              <mat-icon>power_settings_new</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </span>
      </p>
    </div>
    <mat-divider></mat-divider>
    <h3>Friends</h3>
    <div>
      <form [formGroup]="addFriend" (ngSubmit)="onAddFriend()">
        <mat-form-field [style.width.%]="80">
          <mat-label>Add a new friend :)</mat-label>
          <input matInput placeholder="Id goes here" formControlName="id" />
        </mat-form-field>
        <button matSuffix type="submit" [disabled]="!(addFriend.valid)" mat-icon-button><mat-icon>add</mat-icon></button>
      </form>
    </div>
    <mat-divider></mat-divider>
    <div *ngFor="let friend of friends">
      <p class="friend" type="button" routerLink="{{friend.id}}" mat-button>{{friend.username}}<button class="to-the-right" type="button" mat-icon-button (click)="onRemoveFriend(friend.id)"><mat-icon>close</mat-icon></button></p>
    </div>
    
  </mat-sidenav>

  <mat-sidenav-content class="chats-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
