<div>
  <button type="button" mat-button (click)="getAll()"> Get Alll </button>

  <h2>Logs</h2>
  <div *ngFor="let log of logs">
    <p>Date Sent: {{log.dateCreated}}</p> <br />
    <p>Sender: {{log.senderId}}</p> <br />
    <p id="{{log.id}}">Message: {{log.message}}</p> <br />
  </div>

  <div>
    <form [formGroup]="form" (ngSubmit)="onSendMessage()">
      <mat-form-field>
        <mat-label>Write message here...</mat-label>
        <input matInput placeholder="Hi!" formControlName="message" />
      </mat-form-field>
      <button mat-button type="submit" [disabled]="!form.valid">Submit</button>
    </form>
  </div>
</div>
