<h1 mat-dialog-title>Create new chat</h1>
<div mat-dialog-content class="content">
  <form id="create-chat-form" [formGroup]="form">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="General" formControlName="name" />
    </mat-form-field>
    <mat-radio-group formControlName="role">
      <mat-radio-button value="2">Admin</mat-radio-button>
      <mat-radio-button value="1">Mod</mat-radio-button>
      <mat-radio-button value="0">User</mat-radio-button>
    </mat-radio-group>
  </form>
</div>
<div mat-dialog-actions>
  <button type="button" form="create-chat-form" [disabled]="!(form.valid)" (click)="sendMessage()" mat-button mat-dialog-close>Ok</button>
</div>
