.servers-menu {
}

mat-sidenav-container {
    height: 100%;
}

.servers {
    width: auto;
}

.servers-content {
    height: 100%;
}

.server-button {
    margin: 10px 10px 10px 10px;
}

.text-button {
    font-size: 1.4em;
}
