<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side" [opened]="true" class="servers-menu"
               [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0">
    <button class="server-button text-button" type="button" mat-fab (click)="onSetServer('profile')">MY</button>
    <mat-divider></mat-divider>
    <div *ngFor="let server of servers">
      <button class="server-button" type="button" mat-fab (click)="onSetServer(server.id)">{{server.name}}</button>
      
    </div>
    <button class="server-button" type="button" mat-fab (click)="openCreateServer()"><mat-icon>add</mat-icon></button>
  </mat-sidenav>

  <mat-sidenav-content class="servers-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
