<div class="log" #scrollBottom [scrollTop]="scrollBottom.scrollHeight">
  <div *ngFor="let log of logs">
    <mat-card [style.width.%]="90">
      <mat-card-header>
        <mat-card-subtitle><b>{{log.senderName}}</b> {{(log.dateCreated) | date : 'yyyy/MM/dd hh:mm:ss'}} <button *ngIf="log.senderId == self.id" type="button" (click)="onDeleteMessage(log.id)" mat-icon-button><mat-icon>delete</mat-icon></button></mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{log.message}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="chat">
  <div>
    <form [formGroup]="form" (keyup.enter)="onSendMessage()">
      <mat-form-field [style.width.%]="90">
        <mat-label>Write message here...</mat-label>
        <input matInput placeholder="Hi!" formControlName="message" />
      </mat-form-field>
    </form>
  </div>
</div>
