<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side" [opened]="true" class="chats-menu"
               [fixedInViewport]="true" [fixedTopGap]="0" [fixedBottomGap]="0">
    <div>
      <p class="chat">
        <b>{{server.name}}</b>
        <span class="to-the-right">
          <button *ngIf="role >= Roles.mod" type="button" (click)="onCopyServerLink()" mat-icon-button><mat-icon>library_books</mat-icon></button>
          <button type="button" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>settings</mat-icon></button>
          <mat-menu #menu="matMenu">
            
          </mat-menu>
        </span>
      </p>
    </div>

    <mat-divider></mat-divider>

    <h3>Chats</h3>
    <div *ngFor="let chat of chats">
      <p class="chat" type="button" routerLink="{{chat.id}}">{{chat.name}}</p>
    </div>
    <div *ngIf="role >= Roles.mod">
      <button class="chat-button" type="button" (click)="openAddChat()" mat-icon-button><mat-icon>add</mat-icon></button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
